<div class="card p-0" style="width: 18rem;">
  <div class="overflow-hidden relative-div" >
    <img class="card-img-top" src="{{property.imagenPath}}"/>
    <div class="btn-absolute">
      <button type="button" class="btn btn-primary mx-1">
        <i class="far fa-edit"></i>
      </button>
      <button type="button" class="btn btn-primary mx-1">
        <i class="far fa-address-book"></i>
      </button>
    </div>
  </div>
  <div class="card-body px-0">
    <div class="card-title p-0">
      {{property.titulo}}
    </div>
  </div>
</div>


